* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5ebe4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    max-width: 700px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    min-width: 20rem;
    max-width: 30rem;
}

.img1 {
    display: block;
}

.img2 {
    display: none
}

.container img {
    width: 50%;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    width: 50%;
}

h2 {

    padding-right: 235px;
    padding-top: 13px;
    color: #888;
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 14px;
    letter-spacing: 3px;
}

h1 {
    font-size: 22px;
    margin: 10px 0;
}

.description {
    color: #888;
    padding-bottom: 13px;
    line-height: 1.5;
    font-size: 14px;
}

.price {
    margin: 15px 0;
    display: flex;
    align-items: center;
    gap: 15px;
}

.new {
    font-size: 22px;
    font-weight: bold;
    color: #2f6e4d;
}

.old {
    text-decoration: line-through;
    color: gray;
    font-size: 14px;
}

.cart {
    display: inline-block;
    background: #2f6e4d;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
    width: 200px;
    height: 50px
}

.cart:hover {
    cursor: pointer;
    background-color: #265a3f;
}

.imageCart {
    width: 10px;
    height: 10px;

}

@media screen and (max-width:500px) {
    .container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 70px;
        background: white;
        border-radius: 10px;
        overflow: hidden;
    }

    .img1 {
        display: none;
    }

    .img2 {
        display: block;
    }

    .container img {

        width: 100%;
        object-fit: cover;
        border-radius: 7px 7px 0 0;
    }

    .card-content {
        padding: 30px;
        width: 100%;
    }

    h2 {

        padding-right: 235px;
        padding-top: 13px;
        color: #888;
        font-size: 20px;
        text-transform: uppercase;
        padding-bottom: 14px;
        letter-spacing: 2px;
    }

    h1 {
        font-size: 50px;
        margin: 13px 0;
    }

    .description {
        color: #888;
        padding-bottom: 7px;
        font-size: 26px;
    }

    .price {
        margin: 15px 0;
        display: flex;
        align-items: center;
        gap: 35px;
    }

    .new {
        font-size: 35px;
        font-weight: bold;
        color: #2f6e4d;
    }

    .old {
        text-decoration: line-through;
        color: gray;
        font-size: 20px;
    }

    .cart {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #2f6e4d;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
    }

}